@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Poiret+One');
/*
media (max-width: 400px) {
  .child-box {
    width: 90%;
  }
  .inp {
    width: 90vw;
  }
  li, p {
    font-size: 20px;
  }
}
*/

body  {
  background-color: #ffecb3;
  font-family: 'Love Ya Like A Sister', cursive;
}

h1 {
  font-size: 50px;
  line-height: 0.7;
  margin: 3vw 1.5vw 1vw 1.5vw;
}

button {
  font-family: 'Poiret One', cursive;
  font-size: 2.3vw;
  color: #006666;
  background-color: #ffdf80;
  font-weight: bold;
  margin: 0.4vw 0 0.4vw 2vw;
  border-radius: 0.5vw;
  border: none;
  box-shadow: none;
}

.left {
  margin-left: 0.1vw !important;
  margin-top: 1vw;
}

a {
  text-decoration: none;
  color: gray;
}

p {
  font-size: 28px;
}

.box {
  margin: 0 1.5vw 0 1.5vw;
  border-radius: 0.7vw;
  background-color: #ffd24d;
  padding: 2vw;
  min-height: 20vw;
}

.small-box {
  margin: 2vw 1.5vw 2vw 1.5vw;
  border-radius: 0.7vw;
  background-color: #ffd24d;
  padding: 0.5vw 2vw 1vw 2vw;
  min-height: 10vw;
}

#parent-box {
  display: flex;
  flex-wrap: wrap;
  min-height: 20vw;
  padding-left: 1vw;
}

.child-box {
  width: 43%;
  margin: 0 1vw 0 1vw; 
  padding: 2vw;
  border-radius: 0.7vw;
  background-color: #ffd24d;
}

nav {
  border-radius: 0.7vw;
  background-color: #006666;
  margin: 0 1.5vw 0 1.5vw;
}

.act {
  background-color: #009999;
}

ul li {
  display: inline;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: #ffd9b3;
  font-weight: bold;
  display: inline-block;
  margin-left: -3vw;
  padding: 3vw;
  font-size: 3vw;
}

ul li a:active {
  background-color: #009999;
}

.inp {
  margin: 0.3vw;
  font: 1.5vw 'Poiret One', cursive;
  border-radius: 0.2vw;
  border: none;
  box-shadow: none;
  height: 35px;
  width: 41vw;
  padding-left: 0.3vw;
}

input[type='file'] {
  color: #006666;
  margin-left: 1vw;
  font-weight: bold;
}

label {
  font: 15px 'Poiret One', cursive;
  font-weight: bold;
}

#forFile {
   margin-left: 5vw;
}

ol li {
  font-size: 2vw;
}

td {
  font-size: 2.5vw;
}

.count {
  color: #006666;
}